// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
max-width: 700px;
}

.cocktail-info {
  margin: 30px 0px;
}

.show-navigation-buttons {
  margin-bottom: 30px;
}

.cocktail-card {
  background-position: center;
  border: 5px solid white;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 1px 2px 5px #CCCDCD;
  border-radius: 3px;
  padding: 10px;
}
