// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";

.container {
max-width: 700px;
}

.cocktail-info {
  margin: 30px 0px;
}

.show-navigation-buttons {
  margin-bottom: 30px;
}


