.navbar {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.cocktail-brand img {
  height: 50px;
}

.navbar h1 {
  margin-left: 20px;
  font-size: 30px;
  margin-bottom: 20px;
}

.home-page-banner {
  background-size: cover !important;
  background-position: center;
  height: 400px;
  width: 100vw;
  margin-top: 0px;
}

